<div class="topper">
  <div class="w1100 x-auto">
    <div class="topper-logged fl" id="login-userbar">
      <font class="c666 mr10">嗨！欢迎来到 <{$common.site_name}></font>
      <a href="<{url c='user' a='login'}>">登陆</a> <a href="<{url c='user' a='register'}>" class="red">免费注册</a>
    </div>
    <div class="topper-links fr"><{foreach $nav as $v}><a href="<{$v.link}>" <{$v.target nofilter}>><{$v.name}></a><span class="sep">|</span><{/foreach}></div>
  </div>
</div>
<script type="text/template" id="logininfo-tpl">
<a class="user"><i class="icon"></i>${username}</span><b class="icon"></b></a><font class="c999 ml10">欢迎您回来!</font>
<div class="userbar hide">
  <div class="avatar fl">
    {@if avatar != ''}
    <a href="<{url c='user' a='profile'}>"><img width="60" height="60" src="<{$common.url}>/upload/user/avatar/${avatar}" /></a>
    {@else}
    <a href="<{url c='user' a='index'}>"><img href="<{url c='user' a='profile'}>" src="<{$common.theme}>/images/no-avatar.gif" /></a>
    {@/if}
  </div>
  <ul class="userbar-nav">
    <li><a href="<{url c='user' a='index'}>">进入用户中心</a></li>
    <li><a href="<{url c='user' a='profile'}>">编辑资料</a></li>
    <li><a href="<{url c='user' a='logout'}>">退出</a></li>
  </ul>
</div>
</script>
