.doacts a.btn {margin-right:12px;}
.tbsel {padding:10px 20px;}
.tbcolor {color:#339999}
.waiting {width:100px;height:auto;padding:10px 50px 0 50px;position:absolute;background:#fff;border:5px solid #eee;z-index:9999;}