<script type="text/javascript">
function submitAmountForm(){
  var form = $('#pop-amount form');
  form.find('input[name="order_amount"]').vdsChecker({required:true, decimal:true});
  form.find('textarea[name="cause"]').vdsChecker({required:true, maxlength:240});
  form.vdsSubmit();
}
</script>
<div class="poper cut" id="pop-amount"> <a class="close" onclick="closeOperate('pop-amount')"></a>
  <h3 class="f14 th ta-c">更改订单金额</h3>
  <div class="pad10 cut">
    <form method="post" action="<{url m=$MOD c='order' a='operate' step='amount' id=$order.order_id}>">
      <table class="dataform">
        <tr>
          <th width="90">订单总额</th>
          <td><input title="订单总额" name="order_amount" type="text" class="w100 txt" value="<{$order.order_amount}>" /></td>
        </tr>
        <tr>
          <th>原因/备注</th>
          <td><textarea title="原因" class="txtarea" name="cause" cols="80" rows="4"></textarea></td>
        </tr>
      </table>
      <div class="ta-c mt5 pad10">
        <button type="button" class="ubtn sm btn" onclick="submitAmountForm()">确定并提交</button>
        <span class="sep40"></span>
        <button type="button" class="fbtn sm btn" onclick="closeOperate('pop-amount')">取消</button>
      </div>
    </form>
  </div>
</div>